{% extends 'base.html' %}
{% block content %}
{% load static %}
      <!-- End Navbar-->
    </div>
    <div class="container mb-80px mt-60px">
      <div class="row large-gutters">
        <div class="col-lg-6"><img src="images/about.jpg" alt="about-pic"></div>
        <div class="col-lg-6 py-25px">
          <h2 class="mb-15px">Anushey Malik!</h2>
          <p>Suspendisse viverra massam eget nibhe ultricies mollis. Donec sed lorem tincidunt, ultrices, euismod sem. Mauris nec tincidunt diam. Donec varius velit consectetur efficitur. eu tincidunt nun accumsan nec laoreet. Curabitur feugiat posuere odio.</p>
          <blockquote>
            <p>Donec ac nunc quis nisl aliquet hendrerit. Pellentesque ultricies, felis id iaculis feugiat, mauris nunc viverra lectus, quis egestas felis nisi non ante. Donec bibendum magna vitae eros lacinia ornare. Nullam cursus sollicitudin lacus. Maecenas congue.</p>
            <cite>— Someone famous in Source Title</cite>
          </blockquote>
          <p>Proin blandit vulputate diam quis pulvinar. Fusce non libero sodales, dictum sem sed, ornare enim. Maecenas efficitur est vel placerat eleifend. Donec vel quam sollicitudin, bibendum odio eget, varius elit. Fusce semper mauris ut elit dignissim, ac imperdiet massa ullamcorper.</p>
          <ul class="list-inline m-0">
            <li class="list-inline-item"><a href="https://www.facebook.com/energeticthemes"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://instagram.com/energeticthemes"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://behance.com/energeticthemes"><i class="fab fa-behance" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/energeticthemes"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer class="web-footer footer">
      <div class="web-footer footer py-45px primary-bg-color">
        <div class="container">
          <div class="row large-gutters">
            <div class="col-md-6">
              <div class="footer-widget">
                <p class="m-md-0">© 2018 Energetic Themes</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="footer-widget">
                <ul class="list-inline m-0 text-md-right footer-nav">
                  <li class="list-inline-item mb-0"><a href="https://www.facebook.com/energeticthemes">Privacy Policy</a></li>
                  <li class="list-inline-item mb-0"><a href="https://instagram.com/energeticthemes">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer-->
    <!-- javascript files-->
  <script type="text/javascript" src="{% static 'scripts/vendor.js'%}"></script><script type="text/javascript" src="{% static 'scripts/app.js'%}"></script></body>
{% endblock content %}
<!-- Mirrored from www.energeticthemes.com/templates/dabba/page-about-me.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Aug 2020 06:35:47 GMT -->
</html>